.LogoSearch{
    display: flex;
    gap: 0.75rem;
}

.logo{
    width: 50px;
    height: 50px;
    box-shadow:  0 0 2px 0px white;
}
.LogoSearch-Icon{
    width: 85%;
    margin: auto;
}
.Search{
    display: flex;
    background-color: var(--inputColor);
    border-radius: 10px;
    border: 2px solid rgb(161, 157, 157);
    padding: 5px;
}

.Search > input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}

.s-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: linear-gradient(107.23deg, rgb(80, 168, 72), rgb(248, 204, 6)); */
    background-color: rgb(58, 207, 218);
    border-radius: 5px;
    padding: 4px;
    color: white;
}

.s-icon:hover{
    cursor: pointer;
}

@media screen and (max-width: 1024px){
    .LogoSearch{
        width: 15rem;
    }
    
    .logo{
        width: 40px;
        height: 40px;
    }
    .Search{
        width: 70%;
    }

    .s-icon{
        margin-left: -2.3rem;
    }
}

@media screen and (max-width: 912px){
    .LogoSearch{
        width: 13rem;
    }
    
    .logo{
        width: 40px;
        height: 40px;
    }
    .Search{
        width: 70%;
    }

    .s-icon{
        margin-left: -4rem;
    }
}

@media screen and (max-width: 820px){
    .LogoSearch{
        width: 100%;
    }
    
    .Search{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 600px){
    .LogoSearch-Icon{
        width: 75%;
    }
}

